.serves
  min-height: 450px
  &__header
    margin-top: 50px
  &__cards
    display: grid
    margin: 50px
    grid-template-columns: repeat(3, 1fr)
    column-gap: 10%
  &__card
    background-color: $dblu
    display: flex
    flex-direction: column
    align-items: center
    color: #fff
    border: 2px solid $glou
    h4
      margin-top: 30px
      font-size: 20px
      font-style: normal
      font-weight: 700
      line-height: 23px
      text-align: left
    &_img
      width: 60%
      margin-top: 50px
    &_txt
      margin-bottom: 30px
      width: 80%
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 23px
      text-align: left
      
