.serves
  min-height: 450px
  &__header
    margin-top: 50px
  &__cards
    display: grid
    margin: 50px
    grid-template-columns: repeat(3, 1fr)
    column-gap: 3%
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6);
  &__card
    background-color: $dblu
    display: flex
    flex-direction: column
    align-items: center
    color: #fff
    border: 2px solid $glou
    padding: 7%
    h4
      margin-top: 30px
      font-size: 24px
      font-style: normal
      font-weight: 700
      line-height: 28px
      text-align: left
    &_img
      width: 60%
      // margin-top: 10%
    &_txt
      // margin-bottom: 30px
      width: 90%
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 23px
      text-align: left
      
